body{
    background-color:rgb(110, 23, 5);
    margin: 0;
    padding: 0;
    z-index: 1;
}
h1{
    color:#d67b05;
    font-size: 100px;
    margin: 10px;
    scroll-margin-top: 60px;
    font-family: cursive;
}
header {
    padding: 10px;
    text-align: center;
}
h2 {
    font-size: 50px;
    text-align: center;
    margin:10px;
    scroll-margin-top: 46px;
}
h3 {
    font-size: 30px;
    text-align: center;
}
.div1 {
    font-size: 20px;
    color: rgb(69, 58, 46);
    text-align: center;
}
.div2 {
    font-size: 20px;
    color: rgb(81, 67, 4);
    text-align: center;
}
.div3 {
    font-size: 20px;
    color: rgb(1, 46, 28);
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0a4451;
    overflow: hidden;
    display: block;
    position: sticky;
    top: 0;
    z-index: 99999;
}

ul li {
    float: left;
}

ul li a {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

ul li a:hover {
    background-color: #072f38;
}
.img{
    width:600px;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
}