ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0a4451;
    overflow: hidden;
    display: block;
    position: sticky;
    top: 0;
    z-index: 99999;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

ul li a:hover {
    background-color: #072f38;
}

body {
    background-color: rgb(110, 23, 5);
    margin: 0;
    padding: 0;
    z-index: 1;
}

h1 {
    color: #d67b05;
    font-size: 100px;
    margin: 10px;
    scroll-margin-top: 60px;
    font-family: cursive;
}

header {
    padding: 10px;
    text-align: center;
}

.box {
    position: relative;
    width: 1526px;
    height: 456px;
    border: 5px solid  #0a4451;
    overflow: hidden;
}

.burger {
    position: absolute;
    width: 100px;
    transition: transform 0.4s;
    cursor: pointer;
}

.burger:hover {
    transform: scale(1.4);
}